PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/pratibandh?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key_12345
ENCRYPTION_KEY=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
